* text=auto eol=lf

[attr]lfs-attr filter=lfs diff=lfs merge=lfs -text

*.ts        text eol=lf
*.js        text eol=lf
*.html      text eol=lf
*.css       text eol=lf
*.md        text eol=lf
*.sh        text eol=lf

*.png       binary
*.jpg       binary
